body {
    height: 100%;
    width: 100%;
}

.navbar {
    position: absolute;
    top: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}

.navbar img {
    float: left;
    width: 13%;
    height: 60px
}

.navbar a {
    float: left;
    display: block;
    color: #020024;
    text-align: center;
    padding: 22px 26px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #3bdbda;
    color: black;
}

button {
    padding: 10px 16px;
    margin: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    background: #3bdbda;
    border: #ffffff;
}

.hed {
    background-image: url("dct1.jpg");
    background-repeat: no-repeat;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-color: #3bdbda;
    overflow: hidden;
    position: absolute;
    top: 10%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-top: 6%;
}

.hed h1 {
    font-size: 46px;
    text-align: center;
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.hed h5 {
    font-size: 19px;
    text-align: center;
    color: aliceblue;
    margin: 1%;
    font-weight: normal;
}

.hed h6 {
    font-size: 17px;
    text-align: right;
    color: aliceblue;
    margin-right: 20%;
    padding: 0;
    font-weight: normal;
}

.hed button {
    float: center;
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    background: #ffffff;
}

.center {
    margin: auto;
    width: 23%;
    padding: 10px;
}

.cnt {
    top: 90%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: absolute;
    height: 450px;
    background-color: #ffffff;
    padding-top: 6%;
}

.cnt h1 {
    font-size: 36px;
    text-align: center;
    color: #000000;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.cnt h6 {
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 3px;
    font-weight: normal;
}